<div class="contact-form">
  <form class="form-style" method="POST" action="{{ .Site.Params.contactFormAction }}" data-toggle="validator">
    <ul>
      <li>
        <label for="firstname">First Name</label>
        <input class="field-style field-full" type="text" name="firstname" id="firstname" placeholder="First Name" required>
      </li>
      <li>
        <label for="lastname">Last Name</label>
        <input class="field-style field-full" type="text" name="lastname" id="lastname" placeholder="Last Name" required>
      </li>
      <li>
        <label for="email">{{ i18n "email" }}</label>
        <input class="field-style field-full" type="email" id="email" name="email" placeholder="{{ i18n "email" }}" required>
      </li>
      <li>
        <label for="phone">Phone Number</label>
        <input class="field-style field-full" type="phone" id="phone" name="phone" placeholder="Phone Number" required>
      </li>
      <li>
        <label for="message">{{ i18n "message" }}</label>
        <textarea class="field-style" name="message" id="message" rows="6" placeholder="{{ i18n "message" }}"></textarea>
      </li>
      <li>
        <label>
          <input type="checkbox" name="agree" required> I have read and agree to the 
          <a href="/privacy-policy">Privacy Policy</a> and 
          <a href="/terms-and-conditions">Terms and Conditions</a>
        </label>
      </li>
      <li>
        <p class="opt-in-disclaimer" style="font-size: 0.85em; color: #888;">
          By submitting the contact form and signing up for texts, you consent to receive marketing text messages from Bain Property Group, LLC
          at the number provided. Consent is not a condition of purchase. Message frequency varies. Message and data rates may apply. You can unsubscribe at
          any time by replying STOP. Text HELP to get help. Please read our <a href="/privacy-policy">Privacy Policy</a> for more details. 
        </p>
      </li>
      <li>
        <div class="g-recaptcha" data-sitekey="{{ .Site.Params.contactFormReCaptcha }}"></div>
      </li>
      <li>
        <input class="field-style" type="submit" value="{{ i18n "send" }}" />
      </li>
      <li>
        <input type="text" name="_gotcha" style="display:none" />
      </li>
    </ul>
  </form>
</div>
